$primary: #fff;
$secondary: #0B1317;
$dark: #0B1317;

html {
  background: hsla(186, 33%, 94%, 1);
  background: linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
}

body {
  color: #0B1317;
  // height: 100vh;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('https://raw.githubusercontent.com/turboflakes/ref-275/main/assets/fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('https://raw.githubusercontent.com/turboflakes/ref-275/main/assets/fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'),
      url('https://raw.githubusercontent.com/turboflakes/ref-275/main/assets/fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 800;
  @media (min-width: 400px) {
    font-size: 6rem;
  }
}

h4 {
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
  @media (max-width: 400px) {
    font-size: 2rem;
  }
}

h6 {
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
}

a {
  color: #0B1317;
}

.top {
  height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  margin: 64px auto 32px auto;
}

a.header-link {
  margin: 0 16px;
}

.kusama-logo {
  margin-right: 16px;
}

.github-logo {
  margin-right: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mb {
  margin-bottom: 12px;
}

.encoded {
  @media (max-width: 400px) {
    font-size: 1.3rem;
  }
}

.accounts {
  max-height: 256px;
  overflow: auto;
}

.error {
  color: red;
  background: black;
  padding: 8px;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button-primary.selected {
  background-color: #FFF;
  border-color: #FFF; 
  color: #0B1317;
}

button {
  margin-right: 8px;
}

.convictions {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  animation: loading 0.7s infinite;
}


// * {
//   font-family: monospace;
//   color: $dark;
// }

// html {
//   background: hsla(186, 33%, 94%, 1);
//   background: linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
//   background: -moz-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
//   background: -webkit-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
//   display: flex;
//   justify-content: center;
//   height: 100%;
// }

// body {
//   width: 800px;
//   max-width: 100%;
//   margin: 0px;
//   padding: 16px;
// }

// p {
//   white-space: pre-wrap;
//   border-radius: 8px;
//   padding: 8px;
//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   background-color: $dark;
//   color: white;
// }

// button {
//   font-size: large;
//   padding: 8px 16px;
//   font-weight: bold;
//   background-color: $dark;
//   border: none;
//   border-radius: 8px;
//   color: white;
//   cursor: pointer;
//   display: block;
//   margin-top: 8px;
//   min-height: 32px;
//   margin-right: 4px;
// }

// a {
//   text-decoration: underline;
// }

// button:hover {
//   background-color: $secondary;
// }

// .selected {
//   background-color: #C8C9CC;
// }

// input {
//   font-size: large;
//   background-color: white;
//   color: $dark;
//   border-radius: 8px;
//   border: 0;
//   padding: 4px;
//   height: 32px;
// }

// .mb {
//   margin-bottom: 12px;
// }

// small {
//   color: #24cc85;
// }



// @keyframes loading {
//   0% {
//     transform: translateX(0);
//     opacity: 1;
//   }
//   50% {
//     transform: translateX(20px);
//     opacity: 0.5;
//   }
//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

// .loading {
//   animation: loading 0.7s infinite;
// }

// .accounts {
//   max-height: 256px;
//   overflow: auto;
// }

// h1 {
//   font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
//   font-size: 6rem;
//   font-weight: 800;
//   display: flex;
//   align-items: center;
// }

// h4 {
//   font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
//   font-size: 2.125rem;
//   font-weight: 800;
// }

// h6 {
//   font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
//   font-size: 2.125rem;
//   font-weight: 800;
// }

// .header {
//   display: flex;
//   align-items: center;
// }

// a.header-link {
//   font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
//   font-size: 6rem;
//   font-weight: 800;
//   margin: 0 16px;
// }



// .github-logo {
//   margin-right: 16px;
// }

// .footer {
//   color: #FFF;
//   position: absolute;
//   bottom: 16px;
//   display: flex;
//   align-items: center;
// }

// .powered {
//   color: #FFF;
// }