$primary: #fff;
$secondary: #0B1317;
$dark: #0B1317;

html {
  background: hsla(186, 33%, 94%, 1);
  background: linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
}

body {
  color: #0B1317;
  // height: 100vh;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('https://raw.githubusercontent.com/turboflakes/ref-275/main/assets/fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('https://raw.githubusercontent.com/turboflakes/ref-275/main/assets/fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'),
      url('https://raw.githubusercontent.com/turboflakes/ref-275/main/assets/fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 800;
  @media (min-width: 400px) {
    font-size: 6rem;
  }
}

h4 {
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
  @media (max-width: 400px) {
    font-size: 2rem;
  }
}

h6 {
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
}

a {
  color: #0B1317;
}

.top {
  height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  margin: 64px auto 32px auto;
}

a.header-link {
  margin: 0 16px;
}

.kusama-logo {
  margin-right: 16px;
}

.github-logo {
  margin-right: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mb {
  margin-bottom: 8px;
}

.encoded {
  @media (max-width: 400px) {
    font-size: 1.3rem;
  }
}

.accounts {
  max-height: 256px;
  overflow: auto;
}

.error {
  color: red;
  background: black;
  padding: 8px;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button-primary.selected {
  background-color: #FFF;
  border-color: #FFF; 
  color: #0B1317;
}

button {
  margin-right: 8px;
}

.convictions {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  animation: loading 0.7s infinite;
}